body{
    color: $text-color-primary;
}

ul{
    position: relative;
    padding-left: 2rem;
    &::after{
        display: block;
        position: absolute;
        top: 0;
        left: 2rem;
        content: "";
        width: 5px;
        height: 100%;
        background: rgb(173, 171, 171);
        z-index: -1;
    }
}

li{
    list-style: none;
}

.linea_titulo{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    color: white;
    // background: red;
    background: linear-gradient(to right, rgba(231,56,39,1) 0%, rgba(240,47,23,1) 29%, rgba(246,41,12,1) 49%, rgba(241,111,92,1) 71%, rgba(248,80,50,1) 100%);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}

.estacion{
    display:grid;
    grid-template-areas: "d a b"
                         "d a c";
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    justify-content: left;
    align-items: center;

    padding: .5rem;
    margin-bottom: .5rem;
    max-width: 750px;
    &_imagen{
        grid-area: a;
        max-width: 100px;
        margin: 0 1rem;
    }
    &_titulo{
        grid-area: b;
        display: block;
        font-size: 1rem;  
        font-weight: bold;  
        height: auto;    
    }
    &_descripcion{
        grid-area: c;
        display: block;
        margin: 0;
        color: $text-color-secondary;
    }
    &::before{
        grid-area: d;
        content: "";
        background: rgb(202, 19, 19);
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
    }
}