// ----- Texto -----
$text-color-primary: #515357;
$text-color-secondary: rgb(118, 111, 133);
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

// ----- Lineas de tren -----
$estacion-color-primary: rgb(173, 171, 171);
$estacion-color-secondary: rgb(204, 201, 201);
$color-primary: #CC4B4B;
$color-secondary: #B2AEB7;
$color-success: #4BCC70;
$color-dark: #051926;
$color-white: white;
$color-background: #FCFBFC;