*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
main{
  background-color:#eee;
  padding: 30px 30px;
}

.grid-container {
  margin: 0 200px auto 0;  
  display: grid;
  grid-template-columns: 40% auto auto;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  justify-items: center;
}